<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cambio en la branch develop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Primer commit</ion-title> <!-- Aqui se utilizo el comando "git add [Nombre del archivo]" agregando un solo elemento al repositorio local-->
    </ion-toolbar>
  </ion-header>
  <ion-label>Segundo cambio</ion-label> <!--En este cambio se utilizo el comando "git add --all" para agregar todos los cambios hechos al repositorio local-->

</ion-content>
