<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #formulario="ngForm" (ngSubmit)="Submit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Dato 1</ion-label>
        <ion-input type="text"
                  name="dato1"
                   [(ngModel)]="datos.dato1">

        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dato 2</ion-label>
        <ion-input type="text"
                   name="dato2"
                   [(ngModel)]="datos.dato2">

        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit">
      Enviar
    </ion-button>
  </form>

</ion-content>
